* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 background-color: hsl(225, 100%, 94%);
 line-height: 1.4;
 font-family: 'Red Hat Display', sans-serif;;
 color:hsl(224, 23%, 55%)
}

body h2, body h4 {
 color: hsl(223, 47%, 23%);
}

body p {
 font-size: 16px;
}

main {
  display: flex;
  justify-content: center;
  
}

.payment-summary {
 margin: 140px 0;
 border: 1px solid  hsl(225, 100%, 94%);
 border-radius: 15px;
 box-shadow: 5px 5px 5px hsl(225, 100%, 94%);
 display: flex;
 flex-direction: column;
 width: 375px;
 background-color: white;
}

.hero-image {
 border-top-left-radius: 15px;
 border-top-right-radius: 15px;
}

.payment-header {
 text-align: center;
 padding: 40px;
}

.payment-header p {
 margin-top: 15px;
}


.payment-plan {
 display: flex;
 justify-content: space-between;
 background-color: hsl(225, 100%, 98%);
 width: 85%;
 line-height: 1.5;
 padding: 20px;
 margin: -20px auto;
 border-radius: 10px;
}

.payment-plan .plan-offer {
 margin-left: 10px;
}

.plan h4 {
 font-weight: 700;
}

.payment-plan .balance {
 margin-left: 60px;
}

.balance a {
 text-decoration: none;
 color: hsl(245, 75%, 52%)
}

.balance a:hover{
 color:   hsla(245, 75%, 52%, 0.8);
}

.payment-button {
 width: 80%;
 margin: 50px auto;
 margin-bottom: 20px;
 border: 1px solid  hsl(245, 75%, 52%);
 text-align: center;
 padding: 8px;
 border-radius: 7px;
 box-shadow: 5px 5px 20px  hsla(245, 75%, 52%, 0.4);
 background-color: hsl(245, 75%, 52%);
}

.payment-button a {
 text-decoration: none;
 color: white; 
}

.payment-button:hover {
 background-color: hsla(245, 75%, 52%, 0.8);
 border: 1px solid  hsla(245, 75%, 52%, 0.8);
 cursor: pointer;
}

.cancel-order {
 text-align: center;
 margin-bottom: 40px;
}

.cancel-order a {
 text-decoration: none;
 color: hsl(224, 23%, 55%)
}

.cancel-order a:hover {
 color: hsl(223, 47%, 23%);
}



/* Feel free to remove these styles or customise in your own stylesheet 👍  */

.attribution { 
 margin-bottom: 100px;
 font-size: 11px; 
 text-align: center; 
}
.attribution a {
  color: hsl(228, 45%, 44%); 

 }
