* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 background-color: hsl(225, 100%, 94%);
 line-height: 1.4;
 font-family: 'Red Hat Display', sans-serif;
 color: hsl(224, 23%, 55%);
}

body h2, body h4 {
 color: hsl(223, 47%, 23%);
}

body p {
 font-size: 16px;
}

main {
  display: flex;
  justify-content: center;
  
}

.payment-summary {
 margin: 120px 0 40px 0;
 border: 1px solid  hsl(225, 100%, 94%);
 border-radius: 15px;
 box-shadow: 5px 5px 5px hsl(225, 100%, 94%);
 display: flex;
 flex-direction: column;
 width: 350px;
 background-color: white;
}

.hero-image {
 border-top-left-radius: 15px;
 border-top-right-radius: 15px;
}

.payment-header {
 text-align: center;
 padding: 40px;
}

.payment-header p {
 margin-top: 15px;
}


.payment-plan {
 display: flex;
 justify-content: space-between;
 background-color: hsl(225, 100%, 98%);
 width: 85%;
 line-height: 1.5;
 padding: 20px;
 margin: -20px auto;
 border-radius: 10px;
}

.payment-plan .plan-offer {
 margin-left: 10px;
}

.plan h4 {
 font-weight: 700;
}

.payment-plan .balance {
 margin-left: 60px;
}

.balance a {
 text-decoration: none;
 color: hsl(245, 75%, 52%)
}

.balance a:hover{
 color:   hsla(245, 75%, 52%, 0.8);
}

.payment-button, .payment-button:active, .payment-button:visited, .payment-button:visited:active{
 color: white;
 width: 80%;
 margin: 50px auto;
 margin-bottom: 22px;
 border: 1px solid  hsl(245, 75%, 52%);
 text-align: center;
 padding: 10px;
 border-radius: 7px;
 box-shadow: 5px 5px 20px  hsla(245, 75%, 52%, 0.4);
 background-color: hsl(245, 75%, 52%);
}

.payment-button:hover, .payment-button:visited:hover{
 cursor: pointer;
 background-color: hsla(245, 75%, 52%, 0.8);
}


.cancel-order {
 text-align: center;
 margin-bottom: 40px;
}

.cancel-order a:link, .cancel-order a:visited{
 text-decoration: none;
 color: hsl(224, 23%, 55%)
}

.cancel-order a:hover, .cancel-order a:visited:hover, .cancel-order a:active, .cancel-order a:visited:active{
 color: hsl(223, 47%, 23%);
}

 




/* Feel free to remove these styles or customise in your own stylesheet 👍  */

.attribution { 
 margin: 20px 0 40px 0;
 font-size: 11px; 
 text-align: center; 
}
.attribution a {
  color: hsl(228, 45%, 44%); 

 }

 @media only screen and (min-width: 400px) {
  body {
   background-image: url(images/pattern-background-mobile.svg);
   background-repeat: no-repeat;
  }
  
  }



 @media only screen and (max-width: 1440px) {

  body {
   background-image: url(images/pattern-background-desktop.svg);
   background-repeat: no-repeat;
  }

  .payment-summary {
   margin-top: 140px;
  }
 }